{% extends 'layout.twig' %}
{% set pageTitle = 'Admin' %}
{% set meerwaardeTitle ='Partners' %}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/{{ urlfix}}css/SliderPagina.css" />
    <link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/{{ urlfix}}css/Partners.css" />
{% endblock %}
{% block pageContent %}
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <div class="rowrealisatie">
          <div class="col-md-4">
            <div class="block blueHard big">
              <h1 class="featurette-heading">Partners</h1>
                <p>
                  Verschillende partnerorganisaties helpen mee om dit initiatief te verspreiden in het Gentse.<br>
                  <br>In ruil hiervoor investeert EnerGent <strong>50 euro per aangebrachte klant in concrete projecten</strong> in het Gentse die bijdragen aan een ecologisch bewuste, sociaal ingestelde en verdraagzame stad. Ontdek hiernaast wie de verschillende partners en projecten zijn.<br> 
                  <br>EnerGent nodigt ook nieuwe partners uit het Gentse uit om hetzelfde te bereiken. Contacteer hiervoor <a href="mailto:zonnestad@energent.be">zonnestad@energent.be</a>. </p>

                </p>
              </div>
          </div>
          <div class="col-md-8">
            <div class="block big animated">
              <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                <ul class="nav nav-pills nav-justified">
                  <li data-target="#myCarousel2" data-slide-to="0"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/natuurpunt.png"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="1"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/gmf.png"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="2"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/beweging-net.png"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="3"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/Voem.png"></a></li>
                  <!--<li data-target="#myCarousel2" data-slide-to="4"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/ZonnePot2.svg"></a></li>-->
                </ul>


        
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
              
                <div class="item active">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/natuurpunt.png">
                  <div class="carousel-caption">
                    <h2>Natuurpunt Gent</h2>
                    <div class="blocktekst">
                        
                        <p>Natuurpunt Gent strijdt voor steeds wat meer natuur in het Gentse en zal de aanbrengvergoeding over drie aankoopprojecten spreiden. Voor de mensen uit Destelbergen is dat het project Damvallei, voor de Gentenaars is dat het project Assels en voor de Latemnaars is dat het project Latemse Meersen.
                        <br><br>Meer info:<br><a href="http://www.natuurpuntgent.be/" target="_blank">www.natuurpuntgent.be</a></p>
                    </div>
                  </div>
                </div><!-- End Item -->
        
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/gmf.png">
                  <div class="carousel-caption">
                    <h2>Gents Milieu Front</h2>
                    <div class="blocktekst">
                        
                        <p>Het Gentse Milieufront is het ecologische geweten van Gent en wil zelf de volledige aanbrengpremie herinvesteren in de zonnestad. Momenteel wordt gedacht aan tupperware-avond-achtige events bij mensen thuis, om zonnepanelen zo laagdrempelig mogelijk aan te brengen.
                        <br><br>Meer info:<br><a href="http://www.gentsmilieufront.be/" target="_blank">www.gentsmilieufront.be</a></p>
                    </div>
                    </div>
                </div><!-- End Item -->
                
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/beweging-net.png">
                  <div class="carousel-caption">
                    <h2>Beweging.net</h2>
                    <div class="blocktekst">
                        
                        <p>‘Beweging vzw’ is de organisator van het netwerk beweging.net, dat onder meer bestaat uit leden zoals de CM en het ACV. Alle vergoedingen van de zonnecampagne worden bij Beweging.net samengebracht in een solidariteitsfonds dat wordt gebruikt om zonnepanelen aantrekkelijker te maken bij kansarmere gezinnen. 
                        <br><br>Meer info:<br><a href="http://www.beweging.net/" target="_blank">www.beweging.net</a>

                        </p>
                    </div>
                    </div>
                </div><!-- End Item -->
                
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/Voem.png">
                  <div class="carousel-caption">
                    <h2>Voem</h2>
                    <div class="blocktekst">
                        
                        <p>V.O.E.M. vzw staat voor de Vereniging voor Ontwikkeling & Emancipatie van Moslims. V.O.E.M. vzw is een erkende koepelvereniging. De komende weken zal bepaald worden voor welk project de middelen uit de zonnecampagne kunnen gebruikt worden.
                        <br><br>Meer info:<br><a href="http://www.voem-vzw.be/" target="_blank">www.voem-vzw.be</a></p>
                    </div>
                    </div>
                </div><!-- End Item -->

                        
              </div><!-- End Carousel Inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
        
      </div>
{% endblock %}
{% block pageScripts %}
	<script src="{{ app.request.baseUrl }}/{{ urlfix}}js/Realisaties.js"></script>
{% endblock %}
