{% extends 'layout.twig' %}
{% set pageTitle = 'Admin' %}

{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/public_html/css/Realisaties.css" />
{% endblock %}
{% block pageContent %}
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <div class="rowrealisatie">
          <div class="col-md-4">
            <div class="block blueHard big">
              <h1 class="featurette-heading">Projecten </br>door </br>zonnestad</h1>
                <p>
                  Gent heeft momenteel ongeveer <span class="collorYellow">xxxx</span> particuliere zonne-installaties op haar grondgebied. De zonnestad heeft de ambitie dit getal mee te helpen verdubbelen.
                </p>
                <p>
                  </br>Sinds de start werder al <span class="collorYellow">xxxx</span> installaties gebouwd.
                </p>
              </div>
          </div>
          <div class="col-md-8">
            <div class="block big animated">
              <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                <ul class="nav nav-pills nav-justified">
                  <li data-target="#myCarousel2" data-slide-to="0"><a href="#"><img src="{{ app.request.baseUrl }}/public_html/img/R1.JPG"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="1"><a href="#"><img src="{{ app.request.baseUrl }}/public_html/img/R1.JPG"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="2"><a href="#"><img src="{{ app.request.baseUrl }}/public_html/img/R1.JPG"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="3"><a href="#"><img src="{{ app.request.baseUrl }}/public_html/img/R1.JPG"></a></li>
                  
                </ul>


        
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
              
                <div class="item active">
                  <img src="{{ app.request.baseUrl }}/public_html/img/R1.JPG">
                  <div class="carousel-caption">
                    <h2>Project x (prokject in de kijker)</h2>
                    <div class="rowrealisatie">
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/public_html/img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Polykristallijn zonnepaneel</p>
                      </div>
                      <div class="smallblock">
                        <h1>6kWp</h1>
                        <p>ge誰nstalleerd vermogen</p>
                      </div>
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/public_html/img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Eigen woning</p>
                      </div>
                      <div class="smallblock">
                        <h1>30 jan 2017</h1>
                        <p>installatiedatum</p>
                      </div>
                    </div>
                  </div>
                </div><!-- End Item -->
        
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/public_html/img/R1.JPG">
                  <div class="carousel-caption">
                    <h2>Project x (prokject in de kijker)</h2>
                    <div class="rowrealisatie">
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/public_html/img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Polykristallijn zonnepaneel</p>
                      </div>
                      <div class="smallblock">
                        <h1>6kWp</h1>
                        <p>ge誰nstalleerd vermogen</p>
                      </div>
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/public_html/img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Eigen woning</p>
                      </div>
                      <div class="smallblock">
                        <h1>30 jan 2017</h1>
                        <p>installatiedatum</p>
                      </div>
                    </div>
                    </div>
                </div><!-- End Item -->
                
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/public_html/img/R1.JPG">
                  <div class="carousel-caption">
                    <h2>Project x (prokject in de kijker)</h2>
                    <div class="rowrealisatie">
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/public_html/img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Polykristallijn zonnepaneel</p>
                      </div>
                      <div class="smallblock">
                        <h1>6kWp</h1>
                        <p>ge誰nstalleerd vermogen</p>
                      </div>
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/public_html/img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Eigen woning</p>
                      </div>
                      <div class="smallblock">
                        <h1>30 jan 2017</h1>
                        <p>installatiedatum</p>
                      </div>
                    </div>
                    </div>
                </div><!-- End Item -->
                
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/public_html/img/R1.JPG">
                  <div class="carousel-caption">
                    <h2>Project x (prokject in de kijker)</h2>
                    <div class="rowrealisatie">
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/public_html/img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Polykristallijn zonnepaneel</p>
                      </div>
                      <div class="smallblock">
                        <h1>6kWp</h1>
                        <p>ge誰nstalleerd vermogen</p>
                      </div>
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/public_html/img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Eigen woning</p>
                      </div>
                      <div class="smallblock">
                        <h1>30 jan 2017</h1>
                        <p>installatiedatum</p>
                      </div>
                    </div>
                    </div>
                </div><!-- End Item -->
                        
              </div><!-- End Carousel Inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
        
      </div>
{% endblock %}
{% block pageScripts %}
	<script src="{{ app.request.baseUrl }}/public_html/js/Realisaties.js"></script>
{% endblock %}