{% extends 'layout.twig' %}
{% set pageTitle = 'Admin' %}
{% set meerwaardeTitle ='Realisaties' %}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/{{ urlfix}}css/SliderPagina.css" />
  <link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/{{ urlfix}}css/Realisaties.css" />
{% endblock %}
{% block pageContent %}
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <div class="rowrealisatie">
          <div class="col-md-4">
            <div class="block blueHard big">
              <h1 class="featurette-heading">Projecten </br>door </br>zonnestad</h1>
                <p>
                  Gent heeft momenteel ongeveer <span class="collorYellow"><strong>5300</strong></span> particuliere zonne-installaties op haar grondgebied. De zonnestad heeft de ambitie dit getal mee te helpen verdubbelen.
                </p>
                <p>
                  </br>Sinds de start zijn er ondertussen <span class="collorYellow"><strong>55</strong></span> aangemeld en <span class="collorYellow"><strong>3</strong></span> installaties afgewerkt.
                </p>
                <p>
                  </br>Bewonder hiernaast de eerste realisaties.
                </p>
              </div>
          </div>
          <div class="col-md-8">
            <div class="block big animated">
              <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                <ul class="nav nav-pills nav-justified">
                  <li data-target="#myCarousel2" data-slide-to="0"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/Realisaties/R1.JPG"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="1"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/Realisaties/R2.JPG"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="2"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/Realisaties/R3.JPG"></a></li>
                  <!--<li data-target="#myCarousel2" data-slide-to="3"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/R1.JPG"></a></li>-->
                  
                </ul>


        
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
              
                <div class="item active">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/R1.JPG">
                  <div class="carousel-caption">
                    <h2>Rijmsdam | Mariakerke-centrum</h2>
                    <div class="rowrealisatie">
                      <div class="smallblock">
                        <div class="blockimg sollarpanel">
                          <img class="featurette-image img-responsive center-block kristal" src="{{ app.request.baseUrl }}/{{ urlfix}}img/polykristal.svg" alt="Generic placeholder image">
                        </div>
                        <p>Polykristallijn paneel</p>
                      </div>
                      <div class="smallblock">
                        <h1>2,5 kWp</h1>
                        <p>Geïnstalleerd vermogen</p>
                      </div>
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/{{ urlfix}}img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Type: eigen woning</p>
                      </div>
                      <div class="smallblock">
                        <h1>15 maart 2017</h1>
                        <p>Installatiedatum</p>
                      </div>
                    </div>
                  </div>
                </div><!-- End Item -->
        
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/Realisaties/R2.JPG">
                  <div class="carousel-caption">
                    <h2>Vijverhof | Moscou-Vogelhoek</h2>
                    <div class="rowrealisatie">
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block kristal" src="{{ app.request.baseUrl }}/{{ urlfix}}img/polykristal.svg" alt="Generic placeholder image">
                        </div>
                        <p>Polykristallijn paneel</p>
                      </div>
                      <div class="smallblock">
                        <h1>2,7 kWp</h1>
                        <p>Geïnstalleerd vermogen</p>
                      </div>
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/{{ urlfix}}img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Type: eigen woning</p>
                      </div>
                      <div class="smallblock">
                        <h1>28 maart 2017</h1>
                        <p>Installatiedatum</p>
                      </div>
                    </div>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/Realisaties/R3.JPG">
                  <div class="carousel-caption">
                    <h2>Meulesteedse steenweg | Muide-Meulestede</h2>
                    <div class="rowrealisatie">
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block kristal" src="{{ app.request.baseUrl }}/{{ urlfix}}img/polykristal.svg" alt="Generic placeholder image">
                        </div>
                        <p>Polykristallijn paneel</p>
                      </div>
                      <div class="smallblock">
                        <h1>2,2 kWp</h1>
                        <p>Geïnstalleerd vermogen</p>
                      </div>
                      <div class="smallblock">
                        <div class="blockimg">
                          <img class="featurette-image img-responsive center-block" src="{{ app.request.baseUrl }}/{{ urlfix}}img/Zonnestad_EigenWoning.png" alt="Generic placeholder image">
                        </div>
                        <p>Type: eigen woning</p>
                      </div>
                      <div class="smallblock">
                        <h1>30 maart 2017</h1>
                        <p>Installatiedatum</p>
                      </div>
                    </div>
                    </div>
                </div><!-- End Item -->
                             
              </div><!-- End Carousel Inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
        
      </div>
{% endblock %}
{% block pageScripts %}
	<script src="{{ app.request.baseUrl }}/{{ urlfix}}js/Realisaties.js"></script>
{% endblock %}