{% extends 'layout.twig' %}
{% set pageTitle = 'Admin' %}
{% set meerwaardeTitle ='Zonnestad in Cijfers' %}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/{{ urlfix}}css/SliderPagina.css" />
    <link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/{{ urlfix}}css/ZonnestadInCijfers.css" />
{% endblock %}
{% block pageContent %}
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <div class="rowrealisatie">
          <div class="col-md-4">
            <div class="block blueHard big">
              <h1 class="featurette-heading">Zonnestad </br>in </br>cijfers</h1>
                <p>
                  De stad Gent en haar zonne-energie wordt in perspectief gebracht. Hoe ver staan we met onze zonnestad en waar liggen de meeste panelen? Kunnen we met Gent het verschil maken?
                  </br> 
                  Ontdek met de verschillende grafieken hiernaast de cijfers van de Gentse Zonnestad. 
                </p>
              </div>
          </div>
          <div class="col-md-8">
            <div class="block big animated">
              <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                <ul class="nav nav-pills nav-justified">
                  <li data-target="#myCarousel2" data-slide-to="0"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/KaartGent.png"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="1"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/PotentieelWijk.svg"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="2"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/PotGemeentes.svg"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="3"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/WereldZon.png"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="4"><a href="#"><img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/ZonnePot2.svg"></a></li>
                </ul>


        
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
              
                <div class="item active">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/KaartGent.png">
                  <div class="carousel-caption">
                    <h2>Percentage gerealiseerd zonnepotentieel per wijk</h2>
                    <div class="blocktekst">
                        
                        <p>Slechts een beperkte oppervlakte van alle daken komt in aanmerking voor zonnepanelen. Dit noemen we het <strong>realistisch zonnepotentieel</strong> en bedraagt ongeveer <strong>40% van de totale oppervlakte</strong>. <br><br>Op deze kaart wordt weergegeven welk percentage van het realistisch zonne-potentieel reeds gerealiseerd werd. In de kanaaldorpen, heb je heel wat grote bedrijven waardoor het percentage opvallend hoger ligt. Het percentage ligt ook opvallend lager in wijken met een lager gemiddeld inkomen <br><br>(Data: Eandis, stad Gent).</p>
                    </div>
                  </div>
                </div><!-- End Item -->
        
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/PotentieelWijk.svg">
                  <div class="carousel-caption">
                    <h2>Gerealiseerde vs. resterende oppervlakte (ha) aan zonnepanelen, per wijk</h2>
                    <div class="blocktekst">
                        
                        <p>Slechts een beperkte oppervlakte van alle daken komt in aanmerking voor zonnepanelen. Dit noemen we het realistisch zonnepotentieel en bedraagt ongeveer 40% van de totale oppervlakte. <br><br>Op deze figuur wordt weergegeven welke oppervlakte van het realistisch zonne-potentieel reeds gerealiseerd werd (geel) en welk potentieel er nog is (blauw) in de Gentse wijken<br><br> (Data: Eandis, stad Gent).</p>
                    </div>
                    </div>
                </div><!-- End Item -->
                
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/PotGemeentes.svg">
                  <div class="carousel-caption">
                    <h2>Gerealiseerde vs. resterende oppervlakte (ha) aan zonnepanelen, per deelgemeente</h2>
                    <div class="blocktekst">
                        
                        <p>Niet elk dak of elk deel van de gemeente komt in aanmerking voor zonnepanelen. Slechts een beperkte oppervlakte komt in aanmerking voor zonnepanelen, dat noemen we het realistisch zonnepotentieel. <br><br>Op deze figuur wordt weergegeven welke oppervlakte van het realistisch zonne-potentieel reeds gerealiseerd werd (geel) en welk potentieel er nog is (blauw) in de Gentse deelgemeentes <br><br>(Data: Eandis, stad Gent).</p>
                    </div>
                    </div>
                </div><!-- End Item -->
                
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/WereldZon.png">
                  <div class="carousel-caption">
                    <h2>Wereldwijde energievraag, uitgedrukt in oppervlakte zonnepanelen en collectoren</h2>
                    <div class="blocktekst">
                        
                        <p>De gele vierkantjes symboliseren de nodige oppervlakte aan zonnepanelen en – collectoren om tegen 2030 te voorzien in de wereldwijde energievraag. Deze energievraag omvat alle elektriciteit, het aandrijven van alle werktuigen en transport. Het grote vierkant in de Sahara zou volstaan om Noord-Afrika en Europa volledig te voorzien van energie. De vereiste oppervlakte wereldwijd wordt geschat op 496 805 km2. De schatting gaat uit van 20% energie-efficiëntie van de zonnepanelen en –collectoren, 2000 uur zon/jaar en een input van zonne-energie van 1000 W/m2. <br><br>(Bron: www.landartgenerator.org, gebaseerd op data van 2009 van US Department of Energy, the Energy Information Administration) </p>
                    </div>
                    </div>
                </div><!-- End Item -->

                <div class="item">
                  <img src="{{ app.request.baseUrl }}/{{ urlfix}}img/InCijfers/ZonnePot2.svg">
                  <div class="carousel-caption">
                    <h2>Gerealiseerde oppervlakte (ha) en resterend potentieel (ha) aan zonnepotentieel in de Gentse wijken</h2>
                    <div class="blocktekst">
                        <p>Slechts een beperkte oppervlakte van alle daken komt in aanmerking voor zonnepanelen. Dit noemen we het realistisch zonnepotentieel en bedraagt ongeveer 40% van de totale oppervlakte. <br><br>Op deze figuur wordt weergegeven welke oppervlakte van het realistisch zonne-potentieel reeds gerealiseerd werd (geel) en welk potentieel er nog is (blauw) in de Gentse wijken. <br><br>(Data: Eandis).</p>
                      
                    </div>
                    </div>
                </div><!-- End Item -->
                        
              </div><!-- End Carousel Inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
        
      </div>
{% endblock %}
{% block pageScripts %}
	<script src="{{ app.request.baseUrl }}/{{ urlfix}}js/Realisaties.js"></script>
{% endblock %}