{% extends 'layout.twig' %}
{% set pageTitle = 'Admin' %}

{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/public_html/css/Realisaties.css" />
    <link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/public_html/css/ZonnestadInCijfers.css" />
{% endblock %}
{% block pageContent %}
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <div class="rowrealisatie">
          <div class="col-md-4">
            <div class="block blueHard big">
              <h1 class="featurette-heading">Zonnestad </br>in </br>cijfers</h1>
                <p>
                  Wist je dat zonnepanelen super rendabel zijn? En dat toch maar 7% van de nuttige daken hiermee zijn belegd? Klik op de grafieken rechts om bij te leren over onze zonnestad. 

                </p>
              </div>
          </div>
          <div class="col-md-8">
            <div class="block big animated">
              <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                <ul class="nav nav-pills nav-justified">
                  <li data-target="#myCarousel2" data-slide-to="0"><a href="#"><img src="{{ app.request.baseUrl }}/public_html/img/InCijfers/KaartGent.png"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="1"><a href="#"><img src="{{ app.request.baseUrl }}/public_html/img/InCijfers/PotentieelWijk.png"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="2"><a href="#"><img src="{{ app.request.baseUrl }}/public_html/img/InCijfers/PotGemeentes.png"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="3"><a href="#"><img src="{{ app.request.baseUrl }}/public_html/img/InCijfers/WereldZon.png"></a></li>
                  <li data-target="#myCarousel2" data-slide-to="4"><a href="#"><img src="{{ app.request.baseUrl }}/public_html/img/InCijfers/ZonnePot2.png"></a></li>
                </ul>


        
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
              
                <div class="item active">
                  <img src="{{ app.request.baseUrl }}/public_html/img/InCijfers/KaartGent.png">
                  <div class="carousel-caption">
                    <h2>Percentage gerealiseerd zonnepotentieel in de Gentse wijken</h2>
                    <div class="blocktekst">
                        
                        <p>Niet elk dak of elk deel van de gemeente komt in aanmerking voor zonnepanelen. Slechts een beperkte oppervlakte komt in aanmerking voor zonnepanelen, dat noemen we het realistisch zonnepotentieel. Op deze kaart wordt weergegeven welk percentage van het realistisch zonne-potentieel reeds gerealiseerd werd. De meeste wijken in Gent komen niet boven 10 % uit. Enkel de Kanaaldorpen en –zone en Sint-Denijs-Westrem scoren hoger (Data: Eandis).</p>
                    </div>
                  </div>
                </div><!-- End Item -->
        
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/public_html/img/InCijfers/PotentieelWijk.png">
                  <div class="carousel-caption">
                    <h2>Gerealiseerde oppervlakte (ha) en resterend potentieel (ha) aan zonnepotentieel in de Gentse wijken (zonder de kanaalzone)</h2>
                    <div class="blocktekst">
                        
                        <p>Niet elk dak of elk deel van de gemeente komt in aanmerking voor zonnepanelen. Slechts een beperkte oppervlakte komt in aanmerking voor zonnepanelen, dat noemen we het realistisch zonnepotentieel. Op deze figuur wordt weergegeven welke oppervlakte van het realistisch zonne-potentieel reeds gerealiseerd werd (geel) en welk potentieel er nog is (blauw) in de Gentse wijken (Data: Eandis).</p>
                    </div>
                    </div>
                </div><!-- End Item -->
                
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/public_html/img/InCijfers/PotGemeentes.png">
                  <div class="carousel-caption">
                    <h2>Gerealiseerde oppervlakte (ha) en resterend potentieel (ha) aan zonnepotentieel in Gent en deelgemeenten</h2>
                    <div class="blocktekst">
                        
                        <p>Niet elk dak of elk deel van de gemeente komt in aanmerking voor zonnepanelen. Slechts een beperkte oppervlakte komt in aanmerking voor zonnepanelen, dat noemen we het realistisch zonnepotentieel. Op deze figuur wordt weergegeven welke oppervlakte van het realistisch zonne-potentieel reeds gerealiseerd werd (geel) en welk potentieel er nog is (blauw) (Data: Eandis).</p>
                    </div>
                    </div>
                </div><!-- End Item -->
                
                <div class="item">
                  <img src="{{ app.request.baseUrl }}/public_html/img/InCijfers/WereldZon.png">
                  <div class="carousel-caption">
                    <h2>Wereldwijde energievraag weergegeven als oppervlakte zonnepanelen en –collectoren</h2>
                    <div class="blocktekst">
                        
                        <p>De gele vierkantjes symboliseren de nodige oppervlakte aan zonnepanelen en –collectoren om tegen 2030 te voorzien in de wereldwijde energievraag. Deze energievraag omvat alle elektriciteit, het aandrijven van alle werktuigen en transport. Het grote vierkant in de Sahara zou volstaan om Noord-Afrika en Europa volledig te voorzien van energie. De vereiste oppervlakte wereldwijd wordt geschat op 496 805 km2. De schatting gaat uit van 20% energie-efficiëntie van de zonnepanelen en –collectoren, 2000 uur zon/jaar en een input van zonne-energie van 1000 W/m2. (Bron: www.landartgenerator.org, gebaseerd op data van 2009 van US Department of Energy, the Energy Information Administration) </p>
                    </div>
                    </div>
                </div><!-- End Item -->

                <div class="item">
                  <img src="{{ app.request.baseUrl }}/public_html/img/InCijfers/ZonnePot2.png">
                  <div class="carousel-caption">
                    <h2>Gerealiseerde oppervlakte (ha) en resterend potentieel (ha) aan zonnepotentieel in de Gentse wijken</h2>
                    <div class="blocktekst">
                        <p>Niet elk dak of elk deel van de gemeente komt in aanmerking voor zonnepanelen. Slechts een beperkte oppervlakte komt in aanmerking voor zonnepanelen, dat noemen we het realistisch zonnepotentieel. Op deze figuur wordt weergegeven welke oppervlakte van het realistisch zonne-potentieel reeds gerealiseerd werd (geel) en welk potentieel er nog is (blauw) in de Gentse wijken (Data: Eandis).</p>
                      
                    </div>
                    </div>
                </div><!-- End Item -->
                        
              </div><!-- End Carousel Inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
        
      </div>
{% endblock %}
{% block pageScripts %}
	<script src="{{ app.request.baseUrl }}/public_html/js/Realisaties.js"></script>
{% endblock %}